<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oauth</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Homepage</a></li>
			</ul>
		</nav>
		<header>
			<h1>Rizwan</h1>
			<h2>Homepage</h2>
		</header>
		<main>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
				necessitatibus assumenda deleniti placeat maiores dolore, ut odio ad
				velit nam obcaecati eligendi suscipit provident, fuga aspernatur harum,
				ipsum reiciendis tempora?
			</p>
		</main>
	</body>
</html>
